<app-breadcrumb [title]="'Coleccion'" [breadcrumb]="'Coleccion'"></app-breadcrumb>
<!-- section start -->
<app-settings [bandera]='true'></app-settings>


<section class="section-b-space">
    <div class="collection-wrapper">
        <div class="container">
            <div class="row">
                
                <div class="collection-content col">
                    <div class="page-main-content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="top-banner-wrapper">
                                    <a [routerLink]="['/shop/collection/left/sidebar']">
                                        <img src="assets/images/collection_banner_prod.jpg" class="img-fluid " alt="">
                                    </a>
                                    <div class="top-banner-content small-section">
                                       
                                        
                                        <!--   

                                            <ul  aria-label="CATEGORIAS" class="list-group list-group-horizontal" style="width: 1000px; height: 250px; overflow: auto;background: transparent;">
                                              
                                            <li *ngFor="let item of listaCategoria" class="list-group-item list-group-item-warning">
                                                
                                                <img [src]="item.image" height="100px" width="100px">
                                                <a [routerLink]="['/shop/collection/left/sidebar']"
                                                [queryParams]="{ category: item.codigoCategoria}"
                                                class="btn btn-outline">{{item.title}}
                                               
                                             </a>
                                            </li>
                                        </ul>

                                        -->
                                        








                                    </div>
                                </div>

                                <h3 style="color: black;font-weight: bolder;">CATEGORIAS</h3><br/>



                                <owl-carousel-o [options]="CollectionSliderConfig" class="category-m no-arrow">
                                    <ng-container *ngFor="let cats of listaCategoria">
                                      <ng-template carouselSlide>
                                        <div>
                                          <div class="category-wrapper" [ngClass]="'pt-0'">
                                            <div>
                                                <!--  class="img-fluid w-auto" -->
                                              <img [src]="cats.image"  alt=""  width="400" height="200">
                                              <small><strong>{{cats.title}}</strong></small>
                                              <ul class="category-link" [innerHTML]="cats.text"></ul>
                                              <a [routerLink]="['/shop/collection/left/sidebar']"
                                                 [queryParams]="{ category: cats.codigoCategoria}"
                                                 class="btn btn-outline">
                                                 ver mas
                                              </a>
                                            </div>
                                          </div>
                                        </div>
                                      </ng-template>
                                    </ng-container>
                                  </owl-carousel-o>                               
                               






                                
                                <div class="row" *ngIf="false">
                                    <ngb-carousel

                                    [showNavigationArrows]="true" 
                                    [showNavigationIndicators]="true"
                                    interval="1000"
                                    [keyboard]="true"
                                    [pauseOnHover]="true"
                                    [wrap]="true"
                                    
                                    >
                                        <ng-template ngbSlide *ngFor="let item of listaCategoria">
                                            <div class="container">
                                                <div class="row col-md-12">
                                                    <div class="picsum-img-wrapper">
                                                        <img [src]="item.image" style="align-content: center;" height="300px" width="800px">
                                                    </div>
                                                </div>

                                                <div class="row col-md-12 my-2" >
                                                    <div  class="carousel-caption text-danger ">
                                                        <a [routerLink]="['/shop/collection/left/sidebar']"
                                                        [queryParams]="{ category: item.codigoCategoria}"
                                                        class="btn btn-outline"> <p style="background-color: rgb(250, 58,58);color: white;font-weight: bold;font-size: 25px">{{item.title}}</p>
                                                       
                                                     </a>

                                                    </div>
                                                </div>


                                            </div>
                                             
                                            
                                        </ng-template>
                                     
                                    </ngb-carousel>
                                </div>



                                <div class="row">

                                    <h4>LISTA DE PRODUCTOS</h4>

                                    <div class="col-xl-12">
                                        <div class="filter-main-btn" (click)="toggleMobileSidebar()">
                                            <span class="filter-btn btn btn-theme">
                                                <i class="fa fa-filter" aria-hidden="true"></i> Filtro
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <ul class="product-filter-tags">
                                    
                                    
                                    
                                    <li class="mr-1" *ngFor="let tag of tags">
                                        <a href="javascript:void(0)" class="filter_tag">
                                            {{tag}} <i class="ti-close" (click)="removeTag(tag)"></i>
                                        </a>
                                    </li>
                                    <li class="clear_filter" *ngIf="tags.length > 0">
                                        <a href="javascript:void(0)" class="clear_filter" (click)="removeAllTags()">
                                            Vaciar Todo
                                        </a>
                                    </li>




                                </ul>
                                <div class="collection-product-wrapper" id="products">
                                    <app-grid [products]="products" [paginate]="paginate" [layoutView]="layoutView"
                                        [sortBy]="sortBy" (setGrid)="updateGridLayout($event)"
                                        (setLayout)="updateLayoutView($event)" (sortedBy)="sortByFilter($event)">
                                    </app-grid>
                                    <div class="product-wrapper-grid" [ngClass]="layoutView">
                                        <div class="row">


                                            <!--  
                                            <div class="col-grid-box" [ngClass]="grid" *ngFor="let product of products">
                                                <div class="product-box">
                                                    <app-product-box-one [product]="product" [currency]="productService?.Currency" [thumbnail]="false" [cartModal]="true" [loader]="true">
                                                    </app-product-box-one>
                                                </div>
                                            </div>

                                            -->


                                            <div class="col-grid-box" [ngClass]="grid"
                                                *ngFor="let product of  productosObjeto">
                                                <div class="product-box">
                                                    <app-product-box-one [productoObj]="product"
                                                        [currency]="productService?.Currency" [thumbnail]="false"
                                                        [cartModal]="true" [loader]="true">
                                                    </app-product-box-one>
                                                </div>
                                            </div>




                                            <div class="col-sm-12 text-center section-b-space mt-5 no-found"
                                                *ngIf="!productosObjeto.length"> <!--*ngIf="!products.length"-->
                                                <img src="assets/images/empty-search.jpg" class="img-fluid mb-4">
                                                <h3>Lo sentimos! no fue encontrado el producto de la categoria!!! </h3>
                                                <p>por favor haz una nueva busqueda</p>
                                                <a [routerLink]="['/shop/collection/left/sidebar']"
                                                    class="btn btn-solid">continuar con la compra</a>
                                            </div>
                                        </div>
                                    </div>
                                    <app-pagination [products]="products" [paginate]="paginate"
                                        (setPage)="setPage($event)">
                                    </app-pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- section End -->