<!-- breadcrumb start -->
<app-breadcrumb [title]="'404 page'" [breadcrumb]="'404 page'" *ngIf="!orderDetails"></app-breadcrumb>
<!-- breadcrumb End -->

<!-- section start -->
<section class="p-0" *ngIf="!orderDetails">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="error-section">
                    <h1>404</h1>
                    <h2>page not found</h2>
                    <a [routerLink]="'/shop/collection/left/sidebar'" class="btn btn-solid">back to home</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section ends -->

<!-- thank-you section start -->
<section class="section-b-space light-layout" *ngIf="orderDetails">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="success-text">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                    <h2>Gracias</h2>
                    <p>Pago realizado exitosamente</p>
                    <p>Transaccion ID:{{ orderDetails.orderId }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section ends -->

<!-- order-detail section start -->
<section class="section-b-space" *ngIf="orderDetails">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <a href="javascript:void(0)" (click)="navegar()" class="btn btn-solid">Regresar</a>
            </div>
        </div>
        <div class="row my-2">
            <div class="col-lg-6">
                <div class="product-order">
                    <h3>Detalles de la orden</h3>
                    <div class="row product-order-detail" *ngFor="let product of orderDetails.product">
                        <div class="col-3">
                            <img [src]="product.url" alt="" class="img-fluid">
                        </div>
                        <div class="col-3 order_detail">
                            <div>
                                <h4>Producto</h4>
                                <h5>{{ product.nombre }}</h5>
                            </div>
                        </div>
                        <div class="col-3 order_detail">
                            <div>
                                <h4>Cantidad</h4>
                                <h5>{{ product.cantidad }}</h5>
                            </div>
                        </div>
                        <div class="col-3 order_detail">
                            <div>
                                <h4>Precio</h4>
                                <h5>{{ product.precio}}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="total-sec">
                        <ul>
                            <li >Subtotal <span>{{ orderDetails.totalAmount | currency:productService?.Currency.currency:'symbol' }}</span></li>
                            <li *ngIf="false">Shipping <span>$00.00</span></li>
                            <li *ngIf="false">Tax <span>$00.00</span></li>
                        </ul>
                    </div>
                    <div class="final-total">
                        <h3>Sub total <span>{{ orderDetails.totalAmount | currency:productService?.Currency.currency:'symbol' }}</span></h3>
                        <h3>Costo de Envio <span>S/{{costoEnvio | number: '1.2-2' }}</span> </h3>
                        <h3>total <span>S/{{orderDetails.totalCompra | number: '1.2-2'}}</span></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row order-success-sec">
                    <div class="col-sm-6">
                        <h4>Resumen</h4>
                        <ul class="order-detail">
                            <li *ngIf="false">order ID: {{ orderDetails.orderId }}</li>
                            <li *ngIf="false">Order Date: October 22, 2021</li>
                            <li>Order Total: {{ orderDetails.totalAmount | currency:productService?.Currency.currency:'symbol' }}</li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <h4>Direccion de Envio</h4>
                        <ul class="order-detail">
                            <li>{{ orderDetails.shippingDetails.address }}</li>
                            <li *ngIf="false">{{ orderDetails.shippingDetails.state }}</li>
                            <li *ngIf="false">{{ orderDetails.shippingDetails.country }}, {{ orderDetails.shippingDetails.postalcode }}</li>
                            <li>Contact No. {{ orderDetails.shippingDetails.phone }}</li>
                        </ul>
                    </div>

                    <div class="col-sm-12 payment-mode">
                        <h4>Metodo de Pago</h4>
                        <p>Efectivo</p>
                    </div>
                    <div class="col-md-12">
                        <div class="delivery-sec">
                            <h3></h3>
                            <h2></h2>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Section ends -->