<div *ngIf="!loader">
  <div class="img-wrapper">

    <!--  
    no agregar
    <div class="lable-block">
      <span class="lable3" *ngIf="product.new">new</span>
      <span class="lable4" *ngIf="product.sale">on sale</span>
    </div>
-->
<!-- 

   <div class="front">
      <a [routerLink]="['/shop/product/left/sidebar/', product.title.replace(' ', '-')]">
        <img [defaultImage]="ImageSrc ? ImageSrc : 'assets/images/product/placeholder.jpg'"
          [lazyLoad]="ImageSrc ? ImageSrc : product.images[0].src" class="img-fluid lazy-loading"
          alt="{{ product.images[0].alt }}" />
      </a>
    </div>
 -->
   
 <div class="front">
   <h5>{{productoObj.nombre}}</h5>
   
  <a [routerLink]="['/shop/product/left/sidebar/', productoObj.productoPK.id]">
    <img [defaultImage]="ImageSrc ? ImageSrc : 'assets/images/product/placeholder.jpg'"
      [lazyLoad]="ImageSrc ? ImageSrc : productoObj.url" 
      alt="foto" height="150px" />
  </a>

  
</div>



     
    <div class="back" *ngIf="onHowerChangeImage">
      <a [routerLink]="['/shop/product/left/sidebar/', productoObj.productoPK.id]">
        <img [src]="ImageSrc ? ImageSrc : productoObj.url" 
             alt="foto" height="150px" >
      </a>
    </div>
    <!--  no agregar
    <ul class="product-thumb-list" *ngIf="thumbnail">
      <li class="grid_thumb_img" [class.active]="ImageSrc == image.src" *ngFor="let image of product.images">
        <a href="javascript:void(0)" (mouseover)="ChangeVariantsImage(image.src)">
          <img [lazyLoad]="image.src">
        </a>
      </li>
    </ul>
    -->

    
    
    <div class="cart-info cart-wrap">
      <a href="javascript:void(0)" title="Add to cart" (click)="CartModal.openModal(product)" *ngIf="cartModal">
        <i class="ti-shopping-cart"></i>
      </a>
      <a href="javascript:void(0)" title="Add to cart" (click)="addToCart(product)" *ngIf="!cartModal">
        <i class="ti-shopping-cart"></i>
      </a>
      <a href="javascript:void(0)" title="Add to Wishlist" (click)="addToWishlist(product)">
        <i class="ti-heart" aria-hidden="true"></i>
      </a>
      <a href="javascript:void(0)" title="Quick View" (click)="QuickView.openModal()">
        <i class="ti-search" aria-hidden="true"></i>
      </a>
      <a href="javascript:void(0)" title="Compare" (click)="addToCompare(product)">
        <i class="ti-reload" aria-hidden="true"></i>
      </a>
    </div>

  </div>
  <div class="product-detail">
    
    <div>
      <a [routerLink]="['/shop/product/left/sidebar/', productoObj?.nombre.replace(' ', '-')]"><br />
        <h6>{{ productoObj?.nombre | titlecase }}</h6><br />
      </a>
      <p>{{ productoObj?.descripcion }}</p>

      <br />
      <h6>
        {{productoObj?.descripcion}}<br />
        {{ productoObj?.marcas.nombre}}<br />
        {{ productoObj?.precio * currency?.price | currency:'S./' }}
        <del *ngIf="false"><span class="money">
            {{ productoObj?.precio * currency?.price}}S./</span></del>
      </h6>

      

      <!--  no agregar
      <ul class="color-variant" *ngIf="Color(product?.variants).length">
        <li [class]="color" *ngFor="let color of Color(product?.variants)" [ngStyle]="{'background-color': color}"
          (click)="ChangeVariants(color, product)">
        </li>
      </ul>
-->

    </div>
  </div>
</div>
<app-skeleton-product-box *ngIf="loader"></app-skeleton-product-box>
<app-quick-view #quickView [product]="productoObj" [currency]="currency"></app-quick-view>
<app-cart-modal #cartModal [product]="productoObj" [currency]="currency" *ngIf="cartModal"></app-cart-modal>